{% extends "base/base.html" %}
{% block body %}
<div class="contents">
    <h2 class="page_name">経費申請の詳細</h2>
    <div class="register_contents">
        <div class="register_form">
            {{ form.as_p }} <!-- 全フィールドは views 側で disabled にされている -->
            {% if expense.receipt_image %}
                <div>領収書画像:<br>
                    <img src="{{ expense.receipt_image.url }}" alt="レシート画像" width="300px">
                </div>
            {% endif %}
        </div>
    </div>
    <!-- 操作ボタン群 -->
    <div class="button_wrapper">
        <a href="{% url 'accounting:expense_update' expense.id %}" class="button">更新ページ</a>
        <a href="{% url 'accounting:expense_list' %}" class="button">一覧に戻る</a>
    </div>
</div>

{% endblock %}

