{% extends "base/base.html" %}
{% block body %}

<div class="contents">
    <h2 class="page_name">経費申請一覧</h2>
    <div class="register_contents">
        <div class="table_scroll_wrapper">
        <table border="1" class="member_table">
            <thead>
                <tr>
                    <th>申請日時</th>
                    <th><a href="?sort=applicant">申請者</a></th>
                    <th>申請項目</th>
                    <th><a href="?sort=amount">金額</a></th>
                    <th><a href="?sort=approval_status">承認</a></th>
                    <th><a href="?sort=payment_status">支払</a></th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expense_list %}
                <tr>
                    <td>{{ expense.submitted_at|date:"m/d" }}</td>
                    <td>{{ expense.applicant.name|default:"-"}}</td>
                    <td><a href="{% url 'accounting:expense_detail' expense.id %}">{{ expense.title }}</a></td>
                    <td>{{ expense.amount }}円</td>
                    <td>{{ expense.get_approval_status_display }}</td>
                    <td>{{ expense.get_payment_status_display }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="no_expenses">
                        <div>申請がありません。</div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}
