{% extends "base/base.html" %}
{% block body %}

<div class="contents">
    <h2 class="page_name">経費申請の更新</h2>
    <div class="register_contents">
        <form method="post" enctype="multipart/form-data" class="register_form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="save_wrapper">
                <button type="submit" class="save">更新</button>
            </div>
            <div class="save_wrapper">
                <a href="{% url 'accounting:expense_detail' expense.id %}">キャンセル</a>
            </div>
        </form>
    </div>
    <div class="delete_bottom_right">
        {% if user.is_staff or user.member.has_role %}
            <form method="post" action="{% url 'accounting:expense_delete' expense.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete" onclick="return confirm('本当にこの項目を削除してもよろしいですか？');">削除</button>
            </form>
        {% else %}
            <button type="button" class="delete disabled" onclick="alert('削除権限がありません');">削除</button>
        {% endif %}
    </div>    
</div>

{% endblock %}