{% extends "base/base.html" %} <!--Djangoでは {% extends %} が テンプレート内の最初のタグである必要がある-->
{% load static %}  {# ← staticを使う場合ページごとに必要 #}

{% block body %}

<div class="contents">
    <div class="glee_logo_wrapper">
        <img src="{% static 'img/kyoglee_logo.bmp' %}" width="400" class="glee_logo" alt="京都大学グリークラブ_アイコン">
    </div>
    <div class="register_contents">
        <form method="POST" class="register_form">
            {% csrf_token %}
            {{form.as_p}} <!--入力項目の自動生成-->
            <div class="save_wrapper">
                <button type="submit" class="save">ログイン</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}