{% extends "base/accounting_base.html" %}
{% block body %}

<div class="contents">
    <h2 class="page_name">徴収の更新</h2>
    <div class="register_contents">
        <form method="POST" class="register_form">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}

            <table border="1">
                <thead>
                    <tr>
                        <th>団員</th>
                        <th>徴収額（円）</th>
                        <th>徴収ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record_form in formset %}
                    <tr>
                        <td>{{ record_form.instance.member.name }}</td>
                        <td>{{ record_form.amount }}</td>
                        <td>{{ record_form.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="save_wrapper">
                <button type="submit" class="save">更新</button>
            </div>
        </form>

        <div class="save_wrapper">
            <a href="{% url 'accounting:collection_detail' year=collection.deadline.year pk=collection.id %}" class="button">キャンセル</a>
        </div>
    </div>
</div>

{% for form in formset %}
    {% if form.errors %}
        <div style="color:red">{{ form.errors }}</div>
    {% endif %}
{% endfor %}

{% endblock %}
