{% extends "base/accounting_base.html" %}
{% block body %}

<div class="contents">
    <h2 class="page_name">出入金項目の詳細：{{ cash_page.title }}</h2>

    <div class="register_contents">
        <!-- 更新用フォーム -->
        <form method="post" class="register_form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-wrapper">
                <button type="submit" class="save">更新</button>
            </div>
        </form>
    </div>
        <!-- 削除用フォーム（外に分離） -->
        <div class="delete_bottom_right">
            {% if user.is_staff or user.member.has_role %}
                <form method="post" action="{% url 'accounting:cash_item_delete' pk=cash_page.id item_id=item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="delete" onclick="return confirm('本当にこの項目を削除してもよろしいですか？');">削除</button>
                </form>
            {% else %}
                <button type="button" class="delete disabled" onclick="alert('削除権限がありません');">削除</button>
            {% endif %}
        </div>
    
</div>

{% endblock %}


